# Discord
DISCORD_WEBHOOK_URL = 

# Squadron
SQUADRON_URL=
SQUAD_NAME=

# Custom paramater
inactivity_in_day = # Number of day of inactivity before sending a message to discord (default = 30 days)

# DB RELATED
DB_NAME=squadron.db

# Path to save file
path_to_save_html_file=
path_to_save_graph=

# LOGGING
NB_OF_LOG_FILE=7 # Number of log file you want to keep
LOGFILE_LOCATION='squadron_script.log' # Path to the log file. Can be a simple file name and will be create where you launched the script
